data/**/*.pdf filter=lfs diff=lfs merge=lfs -text
data/**/*.json filter=lfs diff=lfs merge=lfs -text
data/**/*.html filter=lfs diff=lfs merge=lfs -text
data/**/*.md filter=lfs diff=lfs merge=lfs -text
march-24-auditor-fixes/**/*.pdf filter=lfs diff=lfs merge=lfs -text
march-24-auditor-fixes/**/*.json filter=lfs diff=lfs merge=lfs -text
march-24-auditor-fixes/**/*.html filter=lfs diff=lfs merge=lfs -text
march-25-auditor-v3/**/*.html filter=lfs diff=lfs merge=lfs -text
march-25-auditor-v3/**/*.pdf filter=lfs diff=lfs merge=lfs -text
march-25-auditor-v3/**/*.json filter=lfs diff=lfs merge=lfs -text
march-25-auditor-v3-rerun/powerpoint-slides-1793/powerpoint-slides-1793.html filter=lfs diff=lfs merge=lfs -text
powerpoint-slides-1793/* filter=lfs diff=lfs merge=lfs -text
